@import './reset.scss';
$maxwidth-extra-extra-large: 1600px;
$maxwidth-extra-large: 1200px;
$maxwidth-large: 992px;
$maxwidth-medium: 768px;
$maxwidth-small: 500px;
$maxwidth-extra-small: 375px;

a {
	text-decoration: none;
	color: inherit;
}

img {
	vertical-align: top;
}
