@use './common/variables' as *;

#japanese {
	.articles {
		display: flex;
		flex-direction: column;
		font-size: 3rem;
		row-gap: 2rem;
		.article {
			border: 0.2rem solid black;
			padding: 0.5rem;
			h3 {
				height: 100%;
				a {
					display: flex;
					align-items: center;
				}
			}
		}
	}
	.content {
		h3 {
			color: $navy4;
			font-size: 3rem;
			font-weight: bold;
			margin-bottom: 2.5rem;
		}
		strong {
			display: block;
			font-size: 2.5rem;
			margin-bottom: 1rem;
			&::before,
			&::after {
				content: ' - ';
			}
		}
		p:nth-of-type(2) {
			font-size: 2rem;
			line-height: 3rem;
			a {
				display: inline;
			}
		}
		hr {
			margin: 2rem 0;
		}
		h4 {
			color: $navy4;
			font-size: 2.5rem;
			margin-bottom: 1.25rem;
			& + p {
				font-size: 1.75rem;
			}
		}
		h5 {
			color: $navy4;
			font-size: 2rem;
			margin-bottom: 1.25rem;
			& + p {
				font-size: 1.75rem;
				margin-bottom: 2rem;
			}
		}
	}
}
