@import './reset.scss';

$maxwidth-extra-extra-large: 1600px;
$maxwidth-extra-large: 1200px;
$maxwidth-large: 992px;
$maxwidth-medium: 768px;
$maxwidth-small: 500px;
$maxwidth-extra-small: 375px;

$green-1: #183d3d;
$green-2: #5c8374;
$green-3: #93b1a6;
$green-4: #92c7cf;
$green-5: #aad7d9;
$red-1: #c02727;
$red-2: #c70039;
$red-3: #ff6969;
$red-4: #f4806d;
$yellow-1: #f3f2b4;
$yellow-2: #ffffd3;
$yellow-3: #fff5e0;
$navy-1: #040d12;
$navy-2: #161a30;
$navy-3: #141e46;
$navy-4: #31304d;
$grey-1: #b6bbc4;
$grey-2: #f0ece5;
$grey-3: #e5e1da;
$grey-4: #fbf9f1;
$grey-5: #faf9f5;
$grey-6: #f1f1f1;
