/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: top; }

body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0 auto; }

header {
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  background-color: #f1f1f1;
  border-bottom: 1px solid grey; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(1600px - 20px);
  height: 100%;
  margin: 0 auto;
  padding: 0 10px; }

nav > ul > li > a {
  cursor: pointer; }

.pagetitle {
  font-size: 40px;
  cursor: pointer; }

.language-darkmode-selectors {
  display: flex;
  align-items: center; }

.language-selector {
  display: flex;
  font-size: 20px;
  margin-right: 20px; }
  .language-selector .language {
    cursor: pointer; }
  .language-selector li:nth-of-type(1)::after {
    content: '/';
    margin-left: 5px;
    margin-right: 5px; }

.darkmode-selector {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer; }
  .darkmode-selector i:nth-of-type(1) {
    color: #fff; }

.sidebar-main {
  width: 1600px;
  height: 100%;
  padding-top: 5rem;
  margin: 0 auto; }

aside {
  position: fixed;
  min-width: 160px;
  height: 100%;
  font-size: 30px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  padding-top: 30px; }

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px; }

main {
  display: flex;
  min-height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  margin-left: 160px; }

@media screen and (max-width: 1600px) {
  body {
    background-color: #651616; } }
@media screen and (max-width: 1200px) {
  body {
    background-color: #9a8787; } }
@media screen and (max-width: 992px) {
  body {
    background-color: #333d6d; } }
@media screen and (max-width: 768px) {
  body {
    background-color: #36724b; } }
@media screen and (max-width: 500px) {
  body {
    background-color: #8da15a; } }
@media screen and (max-width: 375px) {
  body {
    background-color: #853fa1; } }

/*# sourceMappingURL=mainEn.css.map */
