<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./includes/common')%>
    <link href='../../../css/en/dailylives/style.css' rel='stylesheet'>
    <title>Dug's Blog</title>
  </head>
  <body>
    <%- include('../includes/header')%>
    <section class='sidebar-contents-container'>
      <%- include('../includes/sidebar')%>
      <main>
        <ul class='thumbnails-container'>
          <%-data%>
        </ul>
      </main>
    </section>
  </body>
</html>