<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head')%>
    <link href='../../css/ko/main.css' rel='stylesheet'>
    <title>Dug's Blog</title>
  </head>
  <body>
    <%- include('./includes/header')%>
    <section class='page-bottom'>
      <%- include('./includes/sidebar')%>
      <main>
        안녕하세요 반갑습니다
      </main>
    </section>
  </body>
</html>