$maxwidth-extra-extra-large: 1600px;
$maxwidth-extra-large: 1200px;
$maxwidth-large: 992px;
$maxwidth-medium: 768px;
$maxwidth-small: 500px;
$maxwidth-extra-small: 375px;

$header-height: 5rem;

$green1: #183d3d;
$green2: #5c8374;
$green3: #93b1a6;
$green4: #92c7cf;
$green5: #aad7d9;
$red1: #c02727;
$red2: #c70039;
$red3: #ff6969;
$red4: #f4806d;

$yellow1: yellow;
$yellow2: #f3f2b4;
$yellow3: #ffffd3;
$yellow4: #fff5e0;

$navy1: #161a30;
$navy2: #141e46;
$navy3: #31304d;

$grey1: #b6bbc4;
$grey2: #f0ece5;
$grey3: #e5e1da;
$grey4: #fbf9f1;
$grey5: #faf9f5;
$grey6: #f1f1f1;

$black1: #040d12;
$black2: #030303;

$orange1: orange;
$orange2: rgb(255, 196, 0);
