@use 'variables' as *;

body {
	position: relative;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: $grey4;
	color: $navy2;
	padding: 0;
	margin: 0 auto;
	transition: background-color 0.5s, color 0.5s;
	&.darkmode {
		background-color: $black1;
		color: $grey4;
		header {
			background-color: $black2;
			nav {
				.wrapper {
					h1.logo {
						color: $orange2;
					}
				}
			}
			.languages-themes {
				.themes {
					i:nth-of-type(1) {
						color: $grey4;
					}
					i:nth-of-type(2) {
						color: $orange2;
					}
				}
			}
		}
		.page-bottom {
			.sidebar {
				.categories {
					h2.category {
						&.active {
							color: $orange2;
						}
					}
				}
			}
			#japanese {
				.articles {
					.article {
						border-color: $grey4;
					}
				}
				.content {
					h3 {
						color: $orange2;
					}
					h4 {
						color: $orange2;
					}
					h5 {
						color: $orange2;
					}
				}
			}
		}
		.hamburger {
			.lines {
				.line {
					background-color: $grey4;
				}
			}
		}
		.modal-hamburger {
			.languages-themes {
				.themes {
					i {
						&:nth-of-type(1) {
							color: $grey4;
						}
						&:nth-of-type(2) {
							color: $orange2;
						}
					}
				}
			}
		}
	}
}
