@use '../common/variables.scss' as *;

.page-bottom {
	display: flex;
	min-height: calc(100vh - $header-height);
	.sidebar {
		height: inherit;
		border-right: 1px solid grey;

		.categories {
			display: flex;
			flex-direction: column;
			gap: 20px;
			font-size: 30px;
		}
	}
}
