@import '../common/body.scss';
@import '../common/header.scss';
@import '../common/sidebar.scss';

body {
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	padding: 0;
	margin: 0 auto;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.thumbnails-container {
	width: 1300px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 70px 0;
}

.thumbnail {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	overflow: hidden;
	a {
		width: 100%;
		img {
			width: 100%;
		}
	}
}
