<header>
  <nav>
    <h1 class='pagetitle'>Dug's Blog</h1>
    <div class='language-darkmode-selectors'>
      <ul class='language-selector'>
        <li><a class='language'>한글</a></li>
        <li><a class='language'>日本語</a></li>
      </ul>
      <div class='darkmode-selector'>
        <i class="fa-solid fa-sun"></i>
        <i class="fa-solid fa-moon"></i>
      </div>
    </div>
  </nav>
</header>