<header class='page-top'>
  <nav>
    <h1>
      <a href="/">
        Dug's Blog
      </a>
    </h1>
    <section class='languages-themes'>
      <ul class='languages'>
        <li><a class='language'>한글</a></li>
        <li><a class='language'>日本語</a></li>
      </ul>
      <div class='themes'>
        <i class="fa-solid fa-sun"></i>
        <i class="fa-solid fa-moon"></i>
      </div>
    </section>
  </nav>
</header>