<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head')%>
    <link href='../../css/en/main.css' rel='stylesheet'>
    <title>Dug's Blog</title>
  </head>
  <body>
    <%- include('./includes/header')%>
    <section class='page-bottom'>
      <%- include('./includes/sidebar')%>
      <main>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio delectus iure veritatis unde quidem quaerat tenetur facilis, quam sit quasi et, est repudiandae quisquam at dolorum, laboriosam dolorem labore? Quibusdam!
      </main>
    </section>
  </body>
</html>