<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./includes/commonAssets')%>
    <title>Dug's Blog</title>
  </head>
  <body>
    <%- include('./includes/header')%>
    <section class='sidebar-contents-container'>
      <%- include('./includes/sidebar')%>
      <main><%-data%></main>
    </section>
  </body>
</html>